.all_show_prom {
  padding: 25px 15px;
}
.all_show_prom h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #263139;
}
.all_show_prom .cards_for_akcii {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
.all_show_prom .cards_for_akcii .card_akcii {
  width: 370px;
  margin: 10px 8px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ccd8e7;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
.all_show_prom .cards_for_akcii .card_akcii:hover {
  box-shadow: 1px 1px 10px #8d96a0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
.all_show_prom .cards_for_akcii .card_akcii .img_akcii {
  display: flex;
  margin: 0;
  width: 100%;
}
.all_show_prom .cards_for_akcii .card_akcii .img_akcii .col-sm-6 {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.all_show_prom .cards_for_akcii .card_akcii .img_akcii .col-sm-6 .main-kb-img {
  width: 100%;
  height: 118px;
  background-color: #ebebeb;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 30px 0 0;
  border: 1px solid #a39e8b;
}
.all_show_prom .cards_for_akcii .card_akcii .img_akcii .col-sm-6 .main-kb-item-title {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #f18902;
}
.all_show_prom .cards_for_akcii .card_akcii .img_akcii .col-sm-6:first-child {
  padding-left: 0;
}
.all_show_prom .cards_for_akcii .card_akcii p {
  color: #7f8890;
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}
.all_show_prom .cards_for_akcii .card_akcii .main-kb-meta {
  color: #b0abb3;
  font-size: 12px;
  font-weight: 300;
  margin-top: 15px;
  position: relative;
  padding-right: 20px;
  margin-bottom: 10px;
}
.all_show_prom .cards_for_akcii .card_akcii .main-kb-meta .main-kb-more {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAB/UlEQVQ4T7WUwVXCQBCGd+KBo3SgVmCsQKjAWIHagLAXhQuseAC9bKxArECswNgBdIAd4E2fz4z/hCwvhADx4L6XvJfNzjcz/84MqX9YtIlp+vaciY5xxk8fOT6WB/tR77rxVGRfCDV3NmAmC4P9LYlMiVibaz3KnluBdgY2JEUNOcSKXzxSw7yROI1j1aR5FrLCm1ZTO/AS1AEB+/BYBaatoy3y1GJSIwSxC5uHXks35fwCmqb8nAA9VTNXWrTbusy99RF1JGBIcSpZLaCdvoU+tEfM9WyExtrqz/fO4e3V5ds6D7jQGi7uFf+nkOEggaa3/CgaIoUgawxnBs662BtRhS+M1rMiOM5ForFEm0CxMcTGmQs/aySRxl9JeodSSgDXi8AL+Zif5tCBHYsRQi8usZLg7iDkxLFA0w+1DppINAcP4fxEDHH2KC+D4/wJyl/0CFAA7SfQXrpsaS1By6QPoNyuL0CvgpIruDCByv9SF1UGuHJRrqQQSQSt6kUllbRsRZ2XLqm0rNYWv/pU/qaWdcXPzO+9tt5faVM4mJGHWvxDm3Kc6F1dadO0Xt2EmqFdT8sMFLTnswALB4rTMTv6RGNWFPZajZelLpvPWxmPNdnPAuV77ZDG5AllwORrMfstGmKiNbcO6XxEgAdw7ae9L1FN8BoDNsrDnO0vj/BJVKSx9psAAAAASUVORK5CYII=);
  opacity: 0.4;
  -webkit-background-size: cover;
  background-size: cover;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.all_show_prom .pagination {
  text-align: center;
  margin-top: 70px;
  padding-bottom: 70px;
}
.all_show_prom .pagination .left_arrow,
.all_show_prom .pagination .right_arrow,
.all_show_prom .pagination .paginate_items {
  display: inline-block;
}
.all_show_prom .pagination .left_arrow,
.all_show_prom .pagination .right_arrow {
  color: #b2b2b2;
  font-size: 24px;
  margin: 0 80px;
}
.all_show_prom .pagination .left_arrow a,
.all_show_prom .pagination .right_arrow a {
  color: inherit;
  transition: all 300ms ease-in-out;
}
.all_show_prom .pagination .left_arrow a:hover,
.all_show_prom .pagination .right_arrow a:hover {
  opacity: 0.7;
  transition: all 300ms ease-in-out;
}
.all_show_prom .pagination .page-numbers {
  display: inline;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4b4b4b;
}
.all_show_prom .pagination .page-numbers li {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}
.all_show_prom .pagination .page-numbers li a {
  margin-right: 12px;
  margin-left: 12px;
  transition: all 300ms ease-in-out;
}
.all_show_prom .pagination .page-numbers li a.next,
.all_show_prom .pagination .page-numbers li a.prev {
  display: none;
}
.all_show_prom .pagination .page-numbers li a:hover {
  opacity: 0.7;
  transition: all 300ms ease-in-out;
}
.all_show_prom .pagination .page-numbers li span.current {
  width: 32px;
  height: 32px;
  color: #FFF;
  background: #f57c00;
  border-radius: 50%;
  display: block;
  line-height: 32px;
}
@media (max-width: 1245px) {
  .all_show_prom .cards_for_akcii {
    justify-content: center;
  }
}
/*# sourceMappingURL=akcii.css.map */