@font-merri: 'Merriweather', serif;;
@font-robo: 'Roboto', sans-serif;

@bagr_color: #a39e8b;
@text_color: #ff0fa0;
@active_color: #f57c00;
@frey_color: #ccccd3;
@font_color: #4b4b4b;

.content-checkout {
  .woocommerce {
    .woocommerce-form-login-toggle {
      .woocommerce-info {
        width: 100%;
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border: 1px solid blue;
        min-height: 2rem;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        color: @font_color;
        font-size: 16px;
        border-radius: 9px;
        a {
          color: @active_color;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
    .woocommerce-form-coupon-toggle {
      .woocommerce-info {
        width: 100%;
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border: 1px solid blue;
        min-height: 2rem;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        color: @font_color;
        font-size: 16px;
        border-radius: 9px;
        a {
          color: @active_color;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
    .woocommerce-checkout {
      .woocommerce-NoticeGroup-checkout {
        .woocommerce-error {
          background-color: inherit;
          li {
            max-width: 360px;
            margin: 25px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            border: 1px solid red;
            min-height: 2rem;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: white;
            color: red;
            font-size: 16px;
            border-radius: 9px;
            a {
              color: @active_color;
              margin-right: 10px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}