.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Reset styles
*******************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
}
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
body {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}
/* Form Elements
*******************************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  height: 35px;
  -webkit-appearance: button;
  font-size: 14px;
  background: transparent;
  letter-spacing: 1px;
  border: 1px;
  text-transform: uppercase;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password],
textarea {
  border: 1px solid #c4c5c7;
  height: 25px;
  font-size: 12px;
  padding: 5px;
  color: #5f6062;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
textarea {
  resize: none;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.l {
  text-align: left;
}
.c {
  text-align: center;
}
.j {
  text-align: justify;
}
.r {
  text-align: right;
}
/* Clearfix
*******************************/
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.clear {
  clear: both;
}
/* Links
*******************************/
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
/* Headers
*******************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
/* Text elements
*******************************/
p {
  margin: 0 0 1em 0;
  text-align: left;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  border: 0;
}
.small {
  font-size: 10px;
}
hr {
  display: block;
  height: 0px;
  line-height: 0px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 16px 0;
  float: none;
  clear: both;
  padding: 0;
}
/* Framework Typo
*******************************/
.story,
.content-right {
  line-height: 1.5;
}
.story ul,
.content-right ul {
  list-style: square;
}
.story ul li,
.content-right ul li {
  list-style: square;
}
.story ol,
.content-right ol {
  list-style: decimal;
}
.story ol li,
.content-right ol li {
  list-style: decimal;
}
.story ul,
.content-right ul,
.story ol,
.content-right ol {
  margin: 0 0 1em 1.5em;
  line-height: 1.5;
}
.story ul ul,
.content-right ul ul,
.story ol ul,
.content-right ol ul,
.story ul ol,
.content-right ul ol,
.story ol ol,
.content-right ol ol {
  margin-bottom: 0;
}
.story ol ol,
.content-right ol ol {
  list-style: upper-alpha;
}
.story ol ol ol,
.content-right ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol,
.content-right ol ol ol ol {
  list-style: lower-alpha;
}
.story h1,
.content-right h1,
.story h2,
.content-right h2,
.story h3,
.content-right h3,
.story h4,
.content-right h4,
.story h5,
.content-right h5,
.story h6,
.content-right h6 {
  text-transform: none;
  margin-bottom: 0.5em;
}
.story a:link,
.content-right a:link,
.story a:visited,
.content-right a:visited,
.story a:hover,
.content-right a:hover,
.story a:active,
.content-right a:active {
  text-decoration: none;
}
.story table,
.content-right table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 18px;
}
.story table td,
.content-right table td,
.story table th,
.content-right table th {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.story table th,
.content-right table th {
  font-weight: bold;
}
.story pre,
.content-right pre,
.story code,
.content-right code {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 15px 10px 0px;
}
.story address,
.content-right address {
  display: inline-block;
  padding: 20px;
  background: #eaeaea;
  line-height: 20px;
  margin-bottom: 15px;
}
.story blockquote,
.content-right blockquote {
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  padding: 20px;
  line-height: 20px;
  margin: 1em 0em;
}
.story blockquote p:before,
.content-right blockquote p:before {
  content: '"';
}
.story blockquote p:after,
.content-right blockquote p:after {
  content: '"';
}
.story .wp-caption,
.content-right .wp-caption {
  box-shadow: 1px 1px 2px #bebebe;
  width: auto;
}
.story .wp-caption p.wp-caption-text,
.content-right .wp-caption p.wp-caption-text {
  background: #ffffff;
  text-align: center;
  color: #a1a1a1 !important;
  margin: 0!important;
}
.story dl,
.content-right dl {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 20px 10px 0px;
}
.story dl dt,
.content-right dl dt {
  width: 150px;
  float: left;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  text-transform: uppercase;
}
.story dl dd,
.content-right dl dd {
  margin-left: 160px;
  margin-bottom: 10px;
  line-height: 18px;
}
.story img.size-auto,
.content-right img.size-auto,
.story img.size-full,
.content-right img.size-full,
.story img.size-large,
.content-right img.size-large,
.story img.size-medium,
.content-right img.size-medium,
.story .attachment img,
.content-right .attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}
.story .alignleft,
.content-right .alignleft,
.story img.alignleft,
.content-right img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.story .alignright,
.content-right .alignright,
.story img.alignright,
.content-right img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.story .aligncenter,
.content-right .aligncenter,
.story img.aligncenter,
.content-right img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.story img.alignleft,
.content-right img.alignleft,
.story img.alignright,
.content-right img.alignright,
.story img.aligncenter,
.content-right img.aligncenter {
  margin-bottom: 1em;
}
.story .wp-caption,
.content-right .wp-caption {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
.story .wp-caption p.wp-caption-text,
.content-right .wp-caption p.wp-caption-text {
  color: #888;
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.story .wp-smiley,
.content-right .wp-smiley {
  margin: 0;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  position: relative;
}
.flexslider ul,
.flexslider ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider ul li,
.flexslider ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides > li {
  position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  text-align: center;
}
.flexslider .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.flexslider .descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(100, 100, 100, 0.5);
  color: #fff;
  text-align: left;
}
.flexslider .descr h3 {
  text-align: left;
}
.flexslider .descr .text p:last-child {
  margin-bottom: 0;
}
.flex-container {
  position: relative;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-eCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZXMf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}
/* Your Custom code here */
body {
  background-image: url("../img/baground.jpg");
}
.wrapper {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
.wrapper-content {
  width: 96%;
  max-width: 1260px;
  margin: 0 auto;
}
.info-header {
  height: 30px;
  background: #191e23;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header .number-phone span {
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 10px;
}
.info-header .my-mail {
  margin-left: 30px;
}
.info-header .my-mail span,
.info-header .my-mail a {
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 12px;
}
header.site-header {
  background: #a39e8b;
  height: 80px;
  border-bottom: 1px solid #ccccd3;
}
header.site-header .content-header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}
header.site-header .content-header .logo_sect {
  width: 33.3%;
  height: 80px;
}
header.site-header .content-header .logo_sect a {
  color: #FFFFFF;
  font-size: 20px;
  height: 80px;
}
header.site-header .content-header .logo_sect a img {
  max-height: 80px;
  width: auto;
}
header.site-header .content-header .overlayMenu {
  width: 80%;
  padding-left: 5%;
}
header.site-header .content-header .overlayMenu .navbar-nav {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
header.site-header .content-header .overlayMenu .navbar-nav li {
  margin-right: 25px;
  height: 77px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #a39e8b;
}
header.site-header .content-header .overlayMenu .navbar-nav li a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
}
header.site-header .content-header .overlayMenu .navbar-nav .current-menu-item {
  margin-right: 25px;
  height: 77px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #fcf55b;
}
header.site-header .content-header .overlayMenu .navbar-nav .current-menu-item a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #fcf55b;
  font-size: 17px;
}
header.site-header .content-header .myself-cab {
  width: 5%;
  font-size: 14px;
  cursor: pointer;
}
header.site-header .content-header .myself-cab .myself {
  width: 25px;
  height: 25px;
  display: block;
  color: #FFFFFF;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  padding-left: 12px;
  padding-top: 12px;
  opacity: 0.6;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
header.site-header .content-header .myself-cab .myself:hover {
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.form-popup {
  display: none;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999999;
}
.form-popup .form {
  width: 800px;
  height: 350px;
  background: #FFFFFF;
  display: block;
  border-radius: 5px;
  border: 1px solid #fcf55b;
  margin: 6rem 38rem 7rem 38rem;
  position: relative;
}
.form-popup .form i {
  position: absolute;
  top: -16px;
  right: -16px;
  color: #fcf55b;
  font-size: 18px;
  cursor: pointer;
}
.form-popup .form .form-footer {
  display: flex;
  background: #dfe1ff;
  height: 25%;
  border-bottom: #878d93;
  align-items: center;
}
.form-popup .form .form-footer .login-button-form {
  height: 30px;
  width: 90px;
  margin-left: 20px;
  font-size: 15px;
  border: 1px solid #a39e8b;
  border-radius: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  background: white;
  cursor: pointer;
}
.form-popup .form .form-footer .register-button-form {
  height: 30px;
  width: 90px;
  margin-left: 20px;
  font-size: 15px;
  border: 1px solid #a39e8b;
  border-radius: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  background: white;
  cursor: pointer;
}
.form-popup .form .form-footer .active {
  background: #a39e8b;
  color: #fcf55b;
}
.form-popup .form .form-login {
  display: block;
  height: 238px;
  width: 788px;
  background: #FFFFFF;
}
.form-popup .form .form-login .login-shop {
  height: 238px;
  width: 785px;
  margin-left: 0.8rem;
  margin-top: 1.5rem;
}
.form-popup .form .form-login .login-shop p {
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  margin-bottom: 1.5rem;
}
.form-popup .form .form-login .login-shop p #username {
  width: 35%;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #a39e8b;
  font-size: 16px;
  color: #4a4a4a;
}
.form-popup .form .form-login .login-shop p #password {
  width: 35%;
  margin-left: 21%;
  border-radius: 3px;
  border: 1px solid #a39e8b;
  font-size: 16px;
  color: #4a4a4a;
}
.form-popup .form .form-login .login-shop p .login-button {
  margin-left: 10%;
  border-radius: 3px;
  width: 8rem;
  border: 1px solid #a39e8b;
  font-weight: bold;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.form-popup .form .form-login .login-shop p .login-button:hover {
  background: #a39e8b;
  color: #fcf55b;
  border: 1px solid #fcf55b;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.form-popup .form .form-register {
  display: none;
  height: 238px;
  width: 788px;
  background: #FFFFFF;
}
.form-popup .form .form-register .register-shop {
  height: 238px;
  width: 785px;
  margin-left: 0.8rem;
  margin-top: 1.5rem;
  padding-right: 2rem;
}
.form-popup .form .form-register .register-shop p {
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  margin-bottom: 1rem;
}
.form-popup .form .form-register .register-shop p #reg_email {
  width: 35%;
  margin-left: 1rem;
  border-radius: 3px;
  border: 1px solid #a39e8b;
  font-size: 16px;
  color: #4a4a4a;
}
.form-popup .form .form-register .register-shop p .register-button {
  border-radius: 3px;
  width: 9rem;
  height: 2.5rem;
  border: 1px solid #a39e8b;
  font-weight: bold;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.form-popup .form .form-register .register-shop p .register-button:hover {
  background: #a39e8b;
  color: #fcf55b;
  border: 1px solid #fcf55b;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.home_slider {
  display: flex;
  border-bottom: 1px solid #ccccd3;
  height: auto;
  padding-bottom: 50px;
  justify-content: center;
}
.home_slider .content_slider {
  width: 80%;
  display: flex;
  justify-content: center;
}
.home_slider .embla {
  position: relative;
  max-width: 100%;
}
@media (max-width: 929px) {
  .home_slider .embla {
    max-width: 60vw;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .home_slider .embla {
    max-width: 100%;
  }
}
.home_slider .embla__viewport {
  width: 100%;
  overflow: hidden;
}
.home_slider .embla__main__image {
  transition: 0.2s all;
  height: 20vw;
  background-position: center;
  background-repeat: no-repeat;
}
.home_slider .embla__main__image .img_embla {
  height: 100%;
  width: auto;
  position: relative;
}
@media (max-width: 929px) {
  .home_slider .embla__main__image {
    height: 40vw;
  }
}
@media (max-width: 600px) {
  .home_slider .embla__main__image {
    height: 63vw;
  }
}
.home_slider .embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}
.home_slider .embla__viewport.is-dragging {
  cursor: grabbing;
}
.home_slider .embla__container {
  display: flex;
  will-change: transform;
  margin-top: 30px;
}
@media (max-width: 400px) {
  .home_slider .embla__container {
    margin-top: 15px;
    margin-left: -7.5px;
  }
}
.home_slider div.embla__slide {
  flex: 0 0 auto;
  position: relative;
  counter-increment: embla;
  min-width: calc(33.333333% + 15px/3);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .home_slider div.embla__slide {
    min-width: calc(25% + 15px/4);
  }
  .home_slider div.embla__slide > div {
    height: 100vw;
  }
}
@media (max-width: 929px) {
  .home_slider div.embla__slide > div {
    height: 100vw;
  }
}
@media (max-width: 478px) {
  .home_slider div.embla__slide > div {
    height: 100vw;
  }
}
@media (max-width: 400px) {
  .home_slider div.embla__slide {
    min-width: calc(33.333333% + 7.5px/3);
  }
  .home_slider div.embla__slide > div {
    height: 100vw;
    margin: 0 7.5px;
  }
}
.home_slider .embla__slide__inner {
  background-color: #282c34;
  position: relative;
  border-radius: 0.5rem;
  min-height: 200px;
  padding-bottom: 46%;
  font-size: 5rem;
}
.home_slider .embla__slide__inner:before {
  color: white;
  font-weight: 300;
  line-height: 1;
  content: counter(embla);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_slider .embla__btns {
  position: relative;
}
.home_slider .embla__button {
  position: absolute;
  z-index: 1;
  top: 150px;
  transform: translateY(-15px);
  border: 0;
  width: 70px;
  height: 70px;
  background-color: #39cbee;
  border-radius: 100%;
  padding: 0;
  outline: 0;
  transition: 0.2s all ease;
}
.home_slider .embla__button:not(:disabled):hover {
  box-shadow: 0 0 10px 1px #39cbee;
}
.home_slider .embla__button svg {
  width: 11px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.home_slider .embla__button svg path {
  fill: #fff;
}
@media (max-width: 1024px) {
  .home_slider .embla__button {
    top: -37.5px;
  }
}
@media (max-width: 929px) {
  .home_slider .embla__button {
    top: -5vw;
  }
}
@media (max-width: 478px) {
  .home_slider .embla__button {
    top: -7vw;
  }
}
@media (max-width: 400px) {
  .home_slider .embla__button {
    top: -9vw;
  }
}
.home_slider .embla__button:not(:disabled) {
  cursor: pointer;
  fill: #fff;
}
.home_slider .embla__button:disabled {
  opacity: 0.5;
}
.home_slider .embla__button--prev {
  left: -200px;
}
.home_slider .embla__button--next {
  right: -100px;
}
.home_slider img {
  height: 300px;
  width: auto;
}
.sect-info {
  height: 5rem;
  border-bottom: 1px solid #ccccd3;
}
.sect-info .sections-otd {
  display: flex;
  height: 100%;
  max-width: 1366px;
  margin: auto;
}
.sect-info .sections-otd .search-sect {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-info .sections-otd .search-sect .search-form {
  width: 90%;
  margin: auto;
  padding-left: 85px;
}
.sect-info .sections-otd .search-sect .search-form .search-submit {
  font-size: 12px;
  font-family: 'Merriweather', serif;
  color: #4b4b4b;
  font-style: italic;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.sect-info .sections-otd .search-sect .search-form .search-submit:hover {
  background: #a39e8b;
  color: #fcf55b;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.sect-info .sections-otd .search-sect .search-form label .screen-reader-text {
  display: none;
}
.sect-info .sections-otd .search-sect .search-form label .search-field {
  border: 1px solid #ccccd3;
  font-size: 16px;
  color: #4b4b4b;
  border-radius: 10px;
  padding: 16px 10px;
  min-width: 60%;
}
.sect-info .sections-otd .stations {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-info .sections-otd .stations .sect-art {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: #4b4b4b;
  padding: 5px 15px;
  border: 1px solid #a39e8b;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 2px 20px #c4c4c4;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.sect-info .sections-otd .stations .sect-art:hover {
  background: #a39e8b;
  color: #fcf55b;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.sect-info .sections-otd .basket {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.sect-info .sections-otd .basket .cart-contents {
  height: 43px;
  width: 43px;
  position: relative;
  border: 1px solid #a39e8b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: white;
}
.sect-info .sections-otd .basket .cart-contents .count {
  display: block;
  background: #FFFFFF;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #a39e8b;
  top: -12px;
  right: -12px;
  padding: 2px;
  text-align: center;
}
.sect-info .sections-otd .basket .cart-contents i {
  font-size: 30px;
  color: #a39e8b;
}
.content-shop {
  display: flex;
}
.content-shop .sidebar {
  width: 20%;
  border-right: 1px solid #ccccd3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-shop .sidebar h3 {
  font-size: 25px;
  margin-top: 65px;
  margin-bottom: 45px;
  color: #4b4b4b;
}
.content-shop .sidebar .homepage-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
.content-shop .sidebar .homepage-category .main-cat-item {
  margin-bottom: 15px;
}
.content-shop .sidebar .homepage-category .main-cat-item a {
  display: flex;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
}
.content-shop .sidebar .homepage-category .main-cat-item a:hover {
  border-bottom: 2px solid #fcf55b;
  -webkit-transition: all 0.3s ease-in-out;
}
.content-shop .sidebar .homepage-category .main-cat-item a:before {
  content: url("../img/arrow-1.png");
  position: absolute;
  left: -35px;
}
.content-shop .sidebar .homepage-category .main-cat-item a h4 {
  margin-bottom: 0;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
}
.content-shop .sidebar .homepage-category .main-cat-item a h4:hover {
  color: #a39e8b;
  -webkit-transition: all 0.3s ease-in-out;
}
.content-shop .all-show-info {
  width: 100%;
}
.content-shop .all-show-info .row-all-calculator {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}
.content-shop .all-show-info .row-all-calculator .title-calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content-shop .all-show-info .row-all-calculator .title-calc h3 {
  color: #4b4b4b;
  font-size: 2rem;
  text-transform: none;
  width: 50rem;
}
.content-shop .all-show-info .row-all-calculator .title-calc p {
  color: #4b4b4b;
  font-size: 1rem;
  width: 52rem;
  text-align: center;
}
.content-shop .all-show-info .row-all-calculator .calculator-body {
  margin-top: 30px;
  padding: 0 10rem 0 10rem;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all {
  display: flex;
  justify-content: space-between;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all .row-calc .row-calc-input-value {
  margin-bottom: 2rem;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all .row-calc .row-calc-input-value .calc_block_title {
  display: block;
  color: #a39e8b;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 1px solid #a39e8b;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all .row-calc .row-calc-input-value .form-group .calc_block2 input {
  width: 15rem;
  font-size: 16px;
  color: #4b4b4b;
  border-radius: 4px;
  margin-bottom: 7px;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-plus .btn-calculate {
  background: #ffffff;
  font-size: 16px;
  color: #4b4b4b;
  border: 1px solid #a39e8b;
  border-radius: 4px;
  margin-bottom: 2rem;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-plus .btn-calculate:hover {
  background: #a39e8b;
  color: #fcf55b;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-sum {
  height: 3rem;
  display: flex;
  align-items: center;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-sum .calc_block {
  font-size: 16px;
  color: #4b4b4b;
  margin-right: 1rem;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-sum .calc_block2 {
  font-size: 16px;
  color: #4b4b4b;
  height: 2rem;
  width: 5rem;
  border: 1px solid #a39e8b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-shop .all-show-info .products_home {
  margin-left: 10%;
  margin-top: 4%;
}
.content-shop .all-show-info .products {
  display: flex;
  flex-flow: wrap;
}
footer.site-footer {
  background: #a39e8b;
  height: 300px;
  border-top: 1px solid #ccccd3;
}
footer.site-footer .footer {
  display: flex;
}
footer.site-footer .footer .logo_sect_footer {
  width: 30%;
  height: 300px;
}
footer.site-footer .footer .logo_sect_footer .logo-footer {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.site-footer .footer .logo_sect_footer .logo-footer a {
  color: white;
}
footer.site-footer .footer .logo_sect_footer .logo-footer a img {
  max-height: 80px;
  width: auto;
  border-radius: 4px;
}
footer.site-footer .footer .logo_sect_footer .social-link {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.site-footer .footer .logo_sect_footer .social-link a {
  color: white;
  font-size: 35px;
  margin-left: 40px;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .logo_sect_footer .social-link a:first-child {
  margin-left: 0;
}
footer.site-footer .footer .logo_sect_footer .social-link a:hover {
  color: #fcf55b;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .bottom-nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav li {
  line-height: 35px;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav li a {
  color: white;
  font-size: 18px;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav li a:hover {
  color: #fcf55b;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav .current-menu-item a {
  color: #fcf55b;
  font-size: 18px;
  opacity: 1;
  border-bottom: 1px solid #fcf55b;
}
footer.site-footer .footer .footer-info {
  width: 40%;
  height: 300px;
}
footer.site-footer .footer .footer-info .info-my {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  margin-left: 20%;
}
footer.site-footer .footer .footer-info .info-my .number-phone {
  margin-bottom: 15px;
}
footer.site-footer .footer .footer-info .info-my .number-phone span {
  color: white;
  margin-right: 10px;
}
footer.site-footer .footer .footer-info .info-my .my-mail span {
  color: white;
  margin-right: 10px;
}
footer.site-footer .footer .footer-info .info-my .my-mail a {
  color: white;
}
footer.site-footer .footer .footer-info .info-date {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.products li.product {
  position: relative;
  margin-bottom: 5rem !important;
}
.woocommerce-loop-product__title {
  color: #4b4b4b;
  margin-top: 1rem;
  display: block;
  margin-left: 25%;
  font-size: 1.5rem;
}
.price {
  color: #4b4b4b;
  position: absolute;
  border: 1px solid;
  padding: 10px 15px;
  top: 360px;
  font-size: 1rem;
  border-radius: 5px;
}
del {
  color: red;
  margin-right: 15px;
}
.add_to_cart_button {
  position: absolute;
  color: #4b4b4b;
  font-size: 1rem;
  top: 360px;
  left: 200px;
  padding: 10px 15px;
  border: 1px solid;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
}
.add_to_cart_button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #39cbee;
  color: black;
}
.woocommerce-loop-product__link .onsale {
  position: absolute;
  color: red;
  margin: 25% 15%;
  font-size: 35px;
  border-bottom: 1px solid;
}
.all-show-info-about {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.all-show-info-about h2 {
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 65px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info-about .happing {
  font-size: 18px;
  font-weight: 700;
  color: #4b4b4b;
}
.all-show-info-about p {
  font-size: 18px;
  color: #4b4b4b;
  margin-bottom: 35px;
}
.all-show-info-about .show_for_now {
  font-size: 18px;
  color: #4b4b4b;
  margin-bottom: 25px;
}
.all-show-info-about .show_for_now .sfn_descr {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.all-show-info-about .show_for_now .sfn_descr span {
  margin-bottom: 7px;
  margin-left: 25px;
  position: relative;
}
.all-show-info-about .show_for_now .sfn_descr span:before {
  content: url("../img/check.png");
  width: 10px;
  height: 10px;
  position: absolute;
  left: -25px;
}
.all-show-info-about .your_no_mistake {
  font-size: 19px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #4b4b4b;
  font-weight: 700;
}
.all-show-info-voc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.all-show-info-voc h2 {
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 65px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info-voc .voc_desc {
  font-size: 18px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info-voc .voc_desc a {
  text-transform: none;
  text-decoration: none;
  color: #4b4b4b;
  -webkit-transition: all 0.3s ease-in-out;
}
.all-show-info-voc .voc_desc a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  color: black;
}
.all-show-info-dost {
  padding: 15px;
}
.all-show-info-dost .dost_info h2 {
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 65px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info-dost .dost_info h3 {
  font-size: 25px;
  margin-top: 15px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info-dost .dost_info p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #4b4b4b;
}
.all-show-info-dost .dost_info .info_in p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #4b4b4b;
  font-weight: 700;
}
.all-show-info-dost .dost_info .info_in .info_in_tb {
  display: flex;
  flex-direction: column;
}
.all-show-info-dost .dost_info .info_in .info_in_tb span {
  font-size: 16px;
  margin-bottom: 5px;
  color: #4b4b4b;
  margin-left: 25px;
  position: relative;
}
.all-show-info-dost .dost_info .info_in .info_in_tb span:before {
  content: url("../img/check.png");
  width: 10px;
  height: 10px;
  position: absolute;
  left: -25px;
}
/*# sourceMappingURL=general.css.map */