.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Reset styles
*******************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
}
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
body {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}
/* Form Elements
*******************************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  height: 35px;
  -webkit-appearance: button;
  font-size: 14px;
  background: transparent;
  letter-spacing: 1px;
  border: 1px;
  text-transform: uppercase;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password],
textarea {
  border: 1px solid #c4c5c7;
  height: 25px;
  font-size: 12px;
  padding: 5px;
  color: #5f6062;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
textarea {
  resize: none;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.l {
  text-align: left;
}
.c {
  text-align: center;
}
.j {
  text-align: justify;
}
.r {
  text-align: right;
}
/* Clearfix
*******************************/
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.clear {
  clear: both;
}
/* Links
*******************************/
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
/* Headers
*******************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
/* Text elements
*******************************/
p {
  margin: 0 0 1em 0;
  text-align: left;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  border: 0;
}
.small {
  font-size: 10px;
}
hr {
  display: block;
  height: 0px;
  line-height: 0px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 16px 0;
  float: none;
  clear: both;
  padding: 0;
}
/* Framework Typo
*******************************/
.story,
.content-right {
  line-height: 1.5;
}
.story ul,
.content-right ul {
  list-style: square;
}
.story ul li,
.content-right ul li {
  list-style: square;
}
.story ol,
.content-right ol {
  list-style: decimal;
}
.story ol li,
.content-right ol li {
  list-style: decimal;
}
.story ul,
.content-right ul,
.story ol,
.content-right ol {
  margin: 0 0 1em 1.5em;
  line-height: 1.5;
}
.story ul ul,
.content-right ul ul,
.story ol ul,
.content-right ol ul,
.story ul ol,
.content-right ul ol,
.story ol ol,
.content-right ol ol {
  margin-bottom: 0;
}
.story ol ol,
.content-right ol ol {
  list-style: upper-alpha;
}
.story ol ol ol,
.content-right ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol,
.content-right ol ol ol ol {
  list-style: lower-alpha;
}
.story h1,
.content-right h1,
.story h2,
.content-right h2,
.story h3,
.content-right h3,
.story h4,
.content-right h4,
.story h5,
.content-right h5,
.story h6,
.content-right h6 {
  text-transform: none;
  margin-bottom: 0.5em;
}
.story a:link,
.content-right a:link,
.story a:visited,
.content-right a:visited,
.story a:hover,
.content-right a:hover,
.story a:active,
.content-right a:active {
  text-decoration: none;
}
.story table,
.content-right table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 18px;
}
.story table td,
.content-right table td,
.story table th,
.content-right table th {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.story table th,
.content-right table th {
  font-weight: bold;
}
.story pre,
.content-right pre,
.story code,
.content-right code {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 15px 10px 0px;
}
.story address,
.content-right address {
  display: inline-block;
  padding: 20px;
  background: #eaeaea;
  line-height: 20px;
  margin-bottom: 15px;
}
.story blockquote,
.content-right blockquote {
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  padding: 20px;
  line-height: 20px;
  margin: 1em 0em;
}
.story blockquote p:before,
.content-right blockquote p:before {
  content: '"';
}
.story blockquote p:after,
.content-right blockquote p:after {
  content: '"';
}
.story .wp-caption,
.content-right .wp-caption {
  box-shadow: 1px 1px 2px #bebebe;
  width: auto;
}
.story .wp-caption p.wp-caption-text,
.content-right .wp-caption p.wp-caption-text {
  background: #ffffff;
  text-align: center;
  color: #a1a1a1 !important;
  margin: 0!important;
}
.story dl,
.content-right dl {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 20px 10px 0px;
}
.story dl dt,
.content-right dl dt {
  width: 150px;
  float: left;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  text-transform: uppercase;
}
.story dl dd,
.content-right dl dd {
  margin-left: 160px;
  margin-bottom: 10px;
  line-height: 18px;
}
.story img.size-auto,
.content-right img.size-auto,
.story img.size-full,
.content-right img.size-full,
.story img.size-large,
.content-right img.size-large,
.story img.size-medium,
.content-right img.size-medium,
.story .attachment img,
.content-right .attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}
.story .alignleft,
.content-right .alignleft,
.story img.alignleft,
.content-right img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.story .alignright,
.content-right .alignright,
.story img.alignright,
.content-right img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.story .aligncenter,
.content-right .aligncenter,
.story img.aligncenter,
.content-right img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.story img.alignleft,
.content-right img.alignleft,
.story img.alignright,
.content-right img.alignright,
.story img.aligncenter,
.content-right img.aligncenter {
  margin-bottom: 1em;
}
.story .wp-caption,
.content-right .wp-caption {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
.story .wp-caption p.wp-caption-text,
.content-right .wp-caption p.wp-caption-text {
  color: #888;
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.story .wp-smiley,
.content-right .wp-smiley {
  margin: 0;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  position: relative;
}
.flexslider ul,
.flexslider ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider ul li,
.flexslider ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides > li {
  position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  text-align: center;
}
.flexslider .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.flexslider .descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(100, 100, 100, 0.5);
  color: #fff;
  text-align: left;
}
.flexslider .descr h3 {
  text-align: left;
}
.flexslider .descr .text p:last-child {
  margin-bottom: 0;
}
.flex-container {
  position: relative;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-eCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZXMf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}
/* Your Custom code here */
body {
  background-color: #f4f5f7;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.wrapper-content {
  width: 96%;
  max-width: 1260px;
  margin: 0 auto;
}
.site-content {
  flex: 1;
  display: flex;
}
header {
  display: block;
  background-color: #ffffff;
}
header .header_top {
  padding: 15px 0;
  position: relative;
  z-index: 103;
}
header .header_top .wrapper .content_header {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
header .header_top .wrapper .content_header .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
header .header_top .wrapper .content_header .row .coll_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .header_top .wrapper .content_header .row .coll_header .logo_sect {
  width: 196px;
  display: inline-block;
  vertical-align: middle;
}
header .header_top .wrapper .content_header .row .coll_header .logo_sect img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact {
  margin-left: 100px;
  display: flex;
  align-items: center;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .fa-address-book:before {
  content: "\f2b9";
  width: 33px;
  height: 33px;
  vertical-align: middle;
  margin-right: 15px;
  display: inline-block;
  font-size: 33px;
  color: #bbbfcc;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right {
  display: inline-block;
  vertical-align: middle;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .number_phone {
  line-height: 24px;
  color: #4b4b4b;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .number_phone span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .number_phone p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .my_mail {
  line-height: 24px;
  color: #ccccd3;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .my_mail span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}
header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .my_mail a {
  font-family: 'Roboto', sans-serif;
  color: #ccccd3;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd {
  margin-left: 50px;
  width: 285px;
  display: inline-block;
  vertical-align: middle;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .calcul {
  display: flex;
  align-items: center;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .calcul .fa-calculator:before {
  content: "\f1ec";
  width: 38px;
  height: 32px;
  font-size: 30px;
  color: #bbbfcc;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .calcul .sect-art {
  vertical-align: middle;
  font-family: 'Merriweather', serif;
  color: #b0abb3;
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b0abb3;
  padding: 7px;
  border-radius: 55px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .calcul .sect-art:hover {
  border: 1px solid #f18902;
  background: #f18902;
  color: white;
  box-shadow: 1px 1px 10px #f18902;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .search-sect {
  margin-top: 16px;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .search-sect .search_form {
  position: relative;
  z-index: 2;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .search-sect .search_form input {
  width: 100%;
  height: 40px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding-left: 15px;
  outline: 0;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  padding-right: 55px;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .search-sect .search_form input[type=text] {
  color: #b0abb3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  border: 0;
  padding: 0 0 0 50px;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .search-sect .search_form input[type=submit] {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  margin-top: -7px;
  right: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAMAAADDoWbgAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAC9UExURUxpcSYuNiUwNSUwNycvNSYuNCcvNygyOiYuNCUwNyUwNyUyOScvMyUxOyIsMiUtMycvNSUtMSAwMSgwOSQuNiUyNygwNygwOSgwOScxNyQwOiUyOScxNSQuNicxNyUyNycxNycxOSgyOicxOScvNSUwNygwOScvNSUtMygwOSUvOigvOyUvOikuNygvOyMuMyQvNCcwOycxNycvNSUwNygyOicxNycxOSUyNyQxNSUyOSgwOSkzPScwOyUwN178xz0AAAA1dFJOUwBgMO+fgIDwn8/wX0DvICAwQBCwIFBQYFCQQLBAYFDQoO/QoKCQwF8Q0EBQoECvEBCw0JDA3pCjMAAAAHdJREFUCNdjYEADunq2dpzqUI64jY62lio7B5gjZSoBovjYWUGUtAJECSMziLSSg/D4zZmApIUMVL+ZAJCQl4RwxMxApKyiCJinpAKmhHm5hRhEOc1ZIGrYuCwtTJXVrDmgBvAIMjBoaJqyIDlQ38jMGIlrYGIIADuuCQP3dO88AAAAAElFTkSuQmCC);
  width: 13px;
  height: 14px;
  font-size: 0;
  border: 0;
  padding: 0;
}
header .header_top .wrapper .content_header .row .coll_header .sections_otd .search-sect .search_form input[type=submit] {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(141, 151, 160, 0.3);
  background-color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  right: auto;
  left: 0;
  top: 8px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files {
  width: 190px;
  text-align: center;
  position: relative;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .myself_cab {
  display: flex;
  align-items: center;
  border: 1px solid rgba(141, 151, 160, 0.3);
  background-color: #fff;
  height: 25px;
  padding: 7px 0 7px 26px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: 0 0 2.5px 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .myself_cab .icon_login {
  width: 12px;
  height: 13px;
  margin-right: 10px;
  display: inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANBAMAAABvB5JxAAAAAXNSR0IB2cksfwAAAA9QTFRFAAAA/4oA/48A/4kA/4kAI+YODgAAAAV0Uk5TAP8Q0KBXpsXHAAAAKUlEQVR4nGNggAJGQUFBASAFZCIoBiYIxawApIAqHBA8mByqBqgpNAAA2ygByo5WgxIAAAAASUVORK5CYII=);
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .myself_cab span {
  color: #7f8890;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .myself_cab:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 1px 15px #f18902;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .files_for_dow {
  display: flex;
  align-items: center;
  margin: 2.5px 0;
  position: relative;
  z-index: 3;
  border: 1px solid rgba(141, 151, 160, 0.3);
  background-color: #fff;
  height: 25px;
  text-align: left;
  padding: 7px 0 7px 26px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .files_for_dow:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
  width: 7px;
  height: 4px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEAQMAAAB4CLc+AAAAAXNSR0IB2cksfwAAAAZQTFRFIS43AAAAepo+IQAAAAJ0Uk5T/wDltzBKAAAAE0lEQVR4nGNgYGhiOMbwjgEHAAA6+gI3rHOpUwAAAABJRU5ErkJggg==);
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .files_for_dow .icon-present {
  margin-right: 10px;
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANBAMAAABvB5JxAAAAAXNSR0IB2cksfwAAABJQTFRFAAAA/4oA/48A/4kA/4kA/4oAXcHa1AAAAAZ0Uk5TAP8Q0KCwHDSt1wAAAC9JREFUeJxjYIABRgECFJOhoKCwAgODsqCgEZgL4ggwqAQxMDKAlcEpQTBgoCoAADa3AspM5u66AAAAAElFTkSuQmCC);
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .files_for_dow span {
  color: #7f8890;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_present {
  display: none;
  position: absolute;
  border: 1px solid #dadde0;
  background-color: #fff;
  margin-top: -22px;
  padding: 32px 7px 10px 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  transition: 0.55s opacity, 0.55s visibility;
  width: -webkit-fill-available;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_present a {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: 300;
  display: block;
  position: relative;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_present a:before {
  width: 7px;
  height: 6px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAATElEQVQYV2NkQAL1HRP+N1YUMMKE4AyQAFbJhs7+gv//GfvhOhj/FzaUF06A62xo73cASi4A4oSGysIDIIWM6EbBdIPEwZLIjkJmAwBt8R4zaEZFpQAAAABJRU5ErkJggg==);
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top-callback-open {
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top-callback-open .icon-phone-grey {
  vertical-align: middle;
  margin-right: 7px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAAXNSR0IB2cksfwAAAEVQTFRFAAAAgI+PgIePgIePf4iQgImPfoePfoePf4iQgImPf4iQf4iQfoiPgIePf4iQfoiPfomRfoePfoePfoiPf4iQf4iQfoiRNY37mAAAABd0Uk5TABBAIM9QwOC/cP/v8GCvsH+ggNDfn2/Pz65HAAAAbElEQVR4nEWM0RbCIAxDkyIwMhgi0///VItn6n2gJ7ktAOFYwAfeor8pb7ZS0e7WaLWtVjqAnu+sbofUgRbSw5JPqXg3Q2UOYNXphyN2S7a+0RN/ukf+Eqd0vrbjaujW2eOlS11xfvfZRi/EGywcA5ho3/ofAAAAAElFTkSuQmCC);
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top-callback-open span {
  color: #7f8890;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback {
  display: none;
  position: absolute;
  z-index: 103;
  -webkit-box-shadow: 0 15px 40px rgba(127, 136, 144, 0.4);
  box-shadow: 0 15px 40px rgba(127, 136, 144, 0.4);
  border: 1px solid #e1e1e1;
  background-color: #fbfbfb;
  width: 330px;
  left: 50%;
  border-radius: 25px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0 40px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback h3 {
  color: #263139;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 50px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback img {
  margin: 20px auto;
  display: block;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback p {
  color: #42414f;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  margin-bottom: 20px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form label {
  display: block;
  margin-bottom: 20px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form label input[name=phone] {
  background-image: url(../img/telephone.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form label input[name=time] {
  background-image: url(../img/clock.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form label input[type=text] {
  width: 280px;
  height: 40px;
  border: 1px solid #d5d4d9;
  background-color: #fff;
  padding-left: 50px;
  color: #999;
  font-size: 14px;
  font-weight: 300;
  -webkit-border-radius: 10000px;
  border-radius: 10000px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form label input[type=text]:focus {
  outline: 0;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form label:last-child {
  color: #7f8890;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 50px;
  margin-bottom: 0;
  margin-top: 24px;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form p {
  color: #263139;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form p strong {
  display: block;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form button {
  height: 50px;
  background-color: #ff8a00;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff8a00), to(#ffb100));
  background-image: -webkit-linear-gradient(bottom, #ff8a00 0, #ffb100 100%);
  background-image: -o-linear-gradient(bottom, #ff8a00 0, #ffb100 100%);
  background-image: linear-gradient(to top, #ff8a00 0, #ffb100 100%);
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  width: 100%;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
  outline: 0;
}
header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback form button:after {
  content: "";
  background: url(../img/top-submit.svg);
  width: 40px;
  height: 40px;
  position: absolute;
  left: 5px;
  top: 5px;
}
header .header_mnu {
  webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #efefef;
  margin-top: -5px;
  position: relative;
  z-index: 101;
}
header .header_mnu .container_fluid {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
header .header_mnu .container_fluid .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
header .header_mnu .container_fluid .row .coll {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu {
  display: flex;
  height: 65px;
  align-items: center;
}
header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu li a {
  text-transform: none;
  color: #4b4b4b;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu li a:hover {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  color: #f18902;
}
header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu .current_page_item {
  color: #f18902;
  border-bottom: 4px solid #ff0fa0;
}
header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu .current_page_item a {
  color: #f18902;
}
header .header_mnu .container_fluid .row .coll .basket {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header .header_mnu .container_fluid .row .coll .basket .cart-contents {
  height: 35px;
  width: 35px;
  position: relative;
  border: 1px solid #a39e8b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: white;
}
header .header_mnu .container_fluid .row .coll .basket .cart-contents .count {
  display: block;
  background: #FFFFFF;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #a39e8b;
  top: -12px;
  right: -12px;
  padding: 2px;
  text-align: center;
}
header .header_mnu .container_fluid .row .coll .basket .cart-contents i {
  font-size: 25px;
  color: #a39e8b;
}
@media (max-width: 1350px) {
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: auto;
    right: 0;
  }
}
@media (max-width: 1020px) {
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact {
    margin-left: 50px;
  }
  header .header_top .wrapper .content_header .row .coll_header .sections_otd {
    margin-left: 20px;
  }
}
@media (max-width: 920px) {
  header .header_top {
    padding: 25px 0;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact {
    width: 250px;
  }
  header .header_top .wrapper .content_header .row .coll_header .logo_sect {
    width: 131px;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact {
    margin-left: 8px;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .number_phone {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .number_phone p {
    font-size: 20px;
  }
  header .header_top .wrapper .content_header .row .coll_header .sections_otd {
    margin-left: 10px;
    margin-top: 17px;
  }
  header .header_top .wrapper .content_header .row .coll_header .sections_otd .calcul .sect-art {
    font-size: 16px;
    padding: 5px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files {
    margin-left: 10px;
    margin-top: 17px;
    max-width: 220px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_present {
    max-width: 170px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback {
    left: 0;
    right: auto;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger {
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: #111;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    margin: 15px 25px;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger:before,
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger:before {
    top: -10px;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger:after {
    bottom: -10px;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger.active {
    background: transparent;
    background-clip: content-box;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay {
    opacity: 0;
    width: 0;
    height: 0;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay.open {
    z-index: 111;
    position: absolute;
    opacity: 1;
    width: 280px;
    top: 52px;
    left: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu {
    border: 1px solid #efefef;
    background-color: #f3f5f7;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 25px 0;
  }
  header .header_mnu .container_fluid .row .coll .nav_header_menu .overlay .overlayMenu .menu li {
    margin-left: 25px;
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  header .header_top .wrapper .content_header .row .coll_header .sections_otd .calcul .sect-art {
    margin-left: 5px;
    font-size: 14px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .myself_cab {
    padding-left: 10px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .myself_cab .icon_login {
    margin-right: 5px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .files_for_dow {
    padding-left: 10px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .files_for_dow .icon-present {
    margin-right: 5px;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback {
    right: 0;
    left: auto;
  }
}
@media (max-width: 680px) {
  header .header_top .wrapper .content_header .row .coll_header .logo_sect {
    display: none;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact {
    margin-top: 0;
    margin-left: 0;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact .fa-address-book:before {
    margin-right: 5px;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right {
    width: 250px;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .number_phone p {
    font-size: 13px;
    line-height: 14px;
  }
  header .header_top .wrapper .content_header .row .coll_header .info_and_contact .calls_right .my_mail a {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 480px) {
  header .header_top .wrapper .content_header .row .coll_header {
    flex-direction: column;
    padding-left: 25%;
  }
  header .header_top .wrapper .content_header .row .coll_header .lk_and_files .top_callback {
    padding: 0 10px;
    right: -70px;
  }
}
.form-popup {
  display: none;
  width: 100%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999999;
}
.form-popup .form {
  width: 550px;
  height: 350px;
  background: #f0f0f0;
  display: block;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #aab1b7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: relative;
}
.form-popup .form i {
  position: absolute;
  top: -20px;
  right: -20px;
  color: #f18902;
  font-size: 25px;
  cursor: pointer;
}
.form-popup .form .form-footer {
  display: flex;
  box-shadow: 0px 1px 5px #aab1b7;
  height: 25%;
  border-bottom: #878d93;
  align-items: center;
}
.form-popup .form .form-footer .login-button-form {
  padding: 10px 27px;
  margin-left: 20px;
  font-size: 15px;
  border: 1px solid #a39e8b;
  border-radius: 5555px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  background: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
}
.form-popup .form .form-footer .login-button-form:hover {
  border: 1px solid #f18902;
  -webkit-transition: 0.3s;
  box-shadow: 1px 1px 10px #f18902;
}
.form-popup .form .form-footer .register-button-form {
  padding: 10px 27px;
  margin-left: 20px;
  font-size: 15px;
  border: 1px solid #a39e8b;
  border-radius: 5555px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  background: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
}
.form-popup .form .form-footer .register-button-form:hover {
  border: 1px solid #f18902;
  -webkit-transition: 0.3s;
  box-shadow: 1px 1px 10px #f18902;
}
.form-popup .form .form-footer .active {
  color: #f18902;
  border: 1px solid #f18902;
}
.form-popup .form .form-login {
  display: block;
  background: #f0f0f0;
  height: 238px;
  max-width: 550px;
}
.form-popup .form .form-login .login-shop {
  height: 238px;
  max-width: 550px;
  margin-left: 0.8rem;
  margin-top: 1.5rem;
}
.form-popup .form .form-login .login-shop p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 1.5rem;
}
.form-popup .form .form-login .login-shop p #username {
  width: 45%;
  margin-left: 10px;
  border-radius: 15px;
  border: 1px solid #a39e8b;
  font-size: 16px;
  color: #4a4a4a;
}
.form-popup .form .form-login .login-shop p #password {
  width: 45%;
  margin-left: 28%;
  border-radius: 15px;
  border: 1px solid #a39e8b;
  font-size: 16px;
  color: #4a4a4a;
}
.form-popup .form .form-login .login-shop p .login-button {
  margin-left: 20%;
  border-radius: 55px;
  width: 13rem;
  height: 2.5rem;
  background-color: white;
  font-weight: bold;
  border: 1px solid #a39e8b;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.form-popup .form .form-login .login-shop p .login-button:hover {
  color: #f18902;
  border: 1px solid #f18902;
  box-shadow: 1px 1px 10px #f18902;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.form-popup .form .form-register {
  display: none;
  height: 238px;
  max-width: 550px;
  background: #f0f0f0;
}
.form-popup .form .form-register .register-shop {
  height: 238px;
  width: 100%;
  margin-left: 0.8rem;
  margin-top: 1.5rem;
  padding-right: 2rem;
}
.form-popup .form .form-register .register-shop p {
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  margin-bottom: 1rem;
}
.form-popup .form .form-register .register-shop p #reg_email {
  width: 35%;
  margin-left: 1rem;
  border-radius: 5555px;
  border: 1px solid #a39e8b;
  font-size: 16px;
  color: #4a4a4a;
}
.form-popup .form .form-register .register-shop p .register-button {
  border-radius: 55px;
  width: 11rem;
  height: 2.5rem;
  background-color: white;
  border: 1px solid #a39e8b;
  font-weight: bold;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.form-popup .form .form-register .register-shop p .register-button:hover {
  color: #f18902;
  box-shadow: 1px 1px 10px #f18902;
  border: 1px solid #f18902;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
@media (max-width: 480px) {
  .form-popup .form {
    max-width: 320px;
    height: 400px;
  }
  .form-popup .form .form-footer {
    height: 18%;
  }
  .form-popup .form .form-login .login-shop {
    margin-left: 0;
  }
  .form-popup .form .form-login .login-shop p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
  }
  .form-popup .form .form-login .login-shop p #username {
    width: 95%;
    margin-left: 0;
  }
  .form-popup .form .form-login .login-shop p #password {
    width: 95%;
    margin-left: 0;
  }
  .form-popup .form .form-login .login-shop p .login-button {
    margin-left: 0;
    margin-top: 15px;
    width: 75%;
  }
  .form-popup .form .form-register .register-shop p #reg_email {
    width: auto;
  }
}
footer.site-footer {
  min-height: 300px;
  border-top: 1px solid #ccccd3;
  background-color: white;
}
footer.site-footer .footer {
  display: flex;
}
footer.site-footer .footer .logo_sect_footer {
  width: 30%;
  height: 300px;
}
footer.site-footer .footer .logo_sect_footer .logo-footer {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.site-footer .footer .logo_sect_footer .logo-footer a {
  color: white;
}
footer.site-footer .footer .logo_sect_footer .logo-footer a img {
  max-height: 100px;
  width: auto;
  box-shadow: 1px 1px 10px #8d96a0;
  border-radius: 7px;
}
footer.site-footer .footer .logo_sect_footer .social-link {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.site-footer .footer .logo_sect_footer .social-link a {
  color: #4b4b4b;
  font-size: 35px;
  margin-left: 40px;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .logo_sect_footer .social-link a:first-child {
  margin-left: 0;
}
footer.site-footer .footer .logo_sect_footer .social-link a:hover {
  color: #f18902;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .bottom-nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav li {
  line-height: 35px;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav li a {
  color: #4b4b4b;
  font-size: 18px;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav li a:hover {
  color: #f18902;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
footer.site-footer .footer .bottom-nav nav .navbar-nav .current-menu-item a {
  color: #f18902;
  font-size: 18px;
  opacity: 1;
  border-bottom: 1px solid #f18902;
}
footer.site-footer .footer .footer-info {
  width: 40%;
  height: 300px;
}
footer.site-footer .footer .footer-info .info-my {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  margin-left: 20%;
}
footer.site-footer .footer .footer-info .info-my .number-phone {
  margin-bottom: 15px;
}
footer.site-footer .footer .footer-info .info-my .number-phone span {
  color: #4b4b4b;
  margin-right: 10px;
}
footer.site-footer .footer .footer-info .info-my .my-mail span {
  color: #4b4b4b;
  margin-right: 10px;
}
footer.site-footer .footer .footer-info .info-my .my-mail a {
  color: #4b4b4b;
}
footer.site-footer .footer .footer-info .info-date {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  footer.site-footer .footer .footer-info .info-my {
    margin-left: 0;
  }
}
@media (max-width: 640px) {
  footer.site-footer .footer {
    margin-left: 15px;
  }
  footer.site-footer .footer .logo_sect_footer {
    width: 15%;
    height: 25%;
  }
  footer.site-footer .footer .logo_sect_footer .logo-footer a img {
    margin-top: 25px;
    max-height: 50px;
    margin-bottom: 15px;
  }
  footer.site-footer .footer .logo_sect_footer .social-link {
    flex-direction: column;
    align-items: center;
  }
  footer.site-footer .footer .logo_sect_footer .social-link a {
    margin-left: 0;
    margin-bottom: 15px;
  }
  footer.site-footer .footer .bottom-nav {
    width: 40%;
  }
}
@media (max-width: 480px) {
  footer.site-footer .footer .logo_sect_footer {
    width: 10%;
    height: auto;
  }
  footer.site-footer .footer .logo_sect_footer .logo-footer {
    display: none;
  }
  footer.site-footer .footer .logo_sect_footer .social-link {
    margin-top: 100px;
  }
  footer.site-footer .footer .bottom-nav {
    width: 40%;
  }
  footer.site-footer .footer .footer-info {
    width: 50%;
  }
  footer.site-footer .footer .footer-info .info-my .number-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer.site-footer .footer .footer-info .info-my .my-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 360px) {
  footer.site-footer .footer {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  footer.site-footer {
    min-height: 320px;
  }
}
@media (max-width: 480px) {
  footer.site-footer {
    min-height: 300px;
  }
}
.content-shop {
  display: flex;
}
.content-shop .all-show-info {
  width: 100%;
}
.content-shop .all-show-info .row-all-calculator {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}
.content-shop .all-show-info .row-all-calculator .title-calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content-shop .all-show-info .row-all-calculator .title-calc h3 {
  color: #4b4b4b;
  font-size: 2rem;
  text-transform: none;
  width: 50rem;
}
.content-shop .all-show-info .row-all-calculator .title-calc p {
  color: #4b4b4b;
  font-size: 1rem;
  width: 52rem;
  text-align: center;
}
.content-shop .all-show-info .row-all-calculator .calculator-body {
  margin-top: 30px;
  padding: 0 10rem 0 10rem;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all {
  display: flex;
  justify-content: space-between;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all .row-calc .row-calc-input-value {
  margin-bottom: 2rem;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all .row-calc .row-calc-input-value .calc_block_title {
  display: block;
  color: #a39e8b;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 1px solid #a39e8b;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .calc-value-all .row-calc .row-calc-input-value .form-group .calc_block2 input {
  width: 15rem;
  font-size: 16px;
  color: #4b4b4b;
  border-radius: 4px;
  margin-bottom: 7px;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-plus .btn-calculate {
  background: #ffffff;
  font-size: 16px;
  color: #4b4b4b;
  border: 1px solid #a39e8b;
  border-radius: 4px;
  margin-bottom: 2rem;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-plus .btn-calculate:hover {
  background: #a39e8b;
  color: #f18902;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-sum {
  height: 3rem;
  display: flex;
  align-items: center;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-sum .calc_block {
  font-size: 16px;
  color: #4b4b4b;
  margin-right: 1rem;
}
.content-shop .all-show-info .row-all-calculator .calculator-body .form-group-sum .calc_block2 {
  font-size: 16px;
  color: #4b4b4b;
  height: 2rem;
  width: 5rem;
  border: 1px solid #a39e8b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-shop .all-show-info .products_home {
  margin-left: 10%;
  margin-top: 4%;
}
.content-shop .all-show-info .products {
  display: flex;
  flex-flow: wrap;
}
.sidebar {
  width: 17%;
  border-right: 1px solid #ccccd3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 5px;
}
.sidebar h3 {
  font-size: 25px;
  margin-top: 65px;
  margin-bottom: 45px;
  color: #4b4b4b;
}
.sidebar .homepage-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
.sidebar .homepage-category .main-cat-item {
  margin-bottom: 15px;
}
.sidebar .homepage-category .main-cat-item a {
  display: flex;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
}
.sidebar .homepage-category .main-cat-item a:hover {
  border-bottom: 2px solid #f18902;
  -webkit-transition: all 0.3s ease-in-out;
}
.sidebar .homepage-category .main-cat-item a:before {
  content: url("../img/arrow-1.png");
  position: absolute;
  left: -25px;
}
.sidebar .homepage-category .main-cat-item a h4 {
  margin-bottom: 0;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
}
.sidebar .homepage-category .main-cat-item a h4:hover {
  color: #a39e8b;
  -webkit-transition: all 0.3s ease-in-out;
}
@media (max-width: 870px) {
  .content-shop {
    flex-direction: column;
  }
  .content-shop .sidebar {
    width: 100%;
    border-bottom: 1px solid #ccccd3;
    box-shadow: 1px 1px 10px #ccccd3;
  }
}
.all-show-info {
  padding-left: 5%;
}
.all-show-info .search_and_download {
  display: flex;
  justify-content: space-around;
  padding-right: 8%;
  min-height: 7rem;
}
.all-show-info .search_and_download .woocommerce-ordering {
  margin-top: auto;
  margin-bottom: auto;
}
.all-show-info .search_and_download .woocommerce-ordering .orderby {
  width: 300px;
  height: 3rem;
  color: #4b4b4b;
  font-size: 18px;
  border-radius: 7px;
}
.all-show-info .search_and_download .woocommerce-ordering .orderby option {
  width: 300px;
}
.all-show-info .search_and_download .download-scheme {
  margin-top: auto;
  margin-bottom: auto;
}
.all-show-info .search_and_download .download-scheme a {
  max-width: 270px;
  width: 270px;
  height: 60px;
  border: 1px solid #39cbee;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  line-height: 18px;
  color: #333333;
  border-radius: 5px;
}
@media (min-width: 767px) {
  .all-show-info .search_and_download .download-scheme a {
    flex: 0 0 29%;
    width: 213px;
  }
}
@media (min-width: 961px) {
  .all-show-info .search_and_download .download-scheme a {
    width: 270px;
  }
}
.all-show-info .search_and_download .download-scheme a p {
  font-size: 14px;
  position: relative;
  padding-left: 35px;
  margin: 0;
}
.all-show-info .search_and_download .download-scheme a p:before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../img/img2.png);
  position: absolute;
  left: 0;
}
.all-show-info .search_and_download .download-scheme a span {
  font-size: 12px;
  color: #4b4b4b;
  display: block;
}
.all-show-info .columns-3 .products {
  justify-content: center;
  margin-bottom: 35px;
}
.all-show-info .columns-3 .woocommerce-pagination {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.all-show-info .columns-3 .woocommerce-pagination ul {
  display: flex;
}
.all-show-info .columns-3 .woocommerce-pagination ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.all-show-info .columns-3 .woocommerce-pagination ul li span {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
}
.all-show-info .columns-3 .woocommerce-pagination ul li a {
  font-size: 1.5rem;
  color: #4b4b4b;
}
.all-show-info .columns-3 .woocommerce-pagination ul li .next {
  color: #ff0fa0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ff0fa0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.all-show-info .columns-3 .woocommerce-pagination ul li .next:hover {
  background-color: #ff0fa0;
  color: white;
  box-shadow: 1px 2px 20px #ff0fa0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.all-show-info .columns-3 .woocommerce-pagination ul li .prev {
  color: #ff0fa0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ff0fa0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.all-show-info .columns-3 .woocommerce-pagination ul li .prev:hover {
  background-color: #ff0fa0;
  color: white;
  box-shadow: 1px 2px 20px #ff0fa0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 48em) {
  .all-show-info .columns-3 ul.products li.product {
    position: relative;
    margin-bottom: 5rem !important;
    width: 20%;
    margin-right: 6%;
  }
}
.all-show-info .woocommerce-loop-product__title {
  color: #4b4b4b;
  margin-top: 1rem;
  display: block;
  width: 300px;
  text-align: center;
  font-size: 1.5rem;
}
.all-show-info .price {
  color: #4b4b4b;
  position: absolute;
  border: 1px solid;
  padding: 10px 15px;
  top: 360px;
  font-size: 1rem;
  border-radius: 5px;
}
.all-show-info del {
  color: red;
  margin-right: 15px;
}
.all-show-info .add_to_cart_button {
  position: absolute;
  color: #4b4b4b;
  font-size: 1rem;
  top: 360px;
  left: 195px;
  padding: 10px 15px;
  border: 1px solid;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
}
.all-show-info .add_to_cart_button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #39cbee;
  color: black;
}
.all-show-info .woocommerce-loop-product__link .onsale {
  position: absolute;
  color: red;
  margin: 25% 15%;
  font-size: 35px;
  border-bottom: 1px solid;
}
.all-show-info .all-show-info-about {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.all-show-info .all-show-info-about h2 {
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 65px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info .all-show-info-about .happing {
  font-size: 18px;
  font-weight: 700;
  color: #4b4b4b;
}
.all-show-info .all-show-info-about p {
  font-size: 18px;
  color: #4b4b4b;
  margin-bottom: 35px;
}
.all-show-info .all-show-info-about .show_for_now {
  font-size: 18px;
  color: #4b4b4b;
  margin-bottom: 25px;
}
.all-show-info .all-show-info-about .show_for_now .sfn_descr {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.all-show-info .all-show-info-about .show_for_now .sfn_descr span {
  margin-bottom: 7px;
  margin-left: 25px;
  position: relative;
}
.all-show-info .all-show-info-about .show_for_now .sfn_descr span:before {
  content: url("../img/check.png");
  width: 10px;
  height: 10px;
  position: absolute;
  left: -25px;
}
.all-show-info .all-show-info-about .your_no_mistake {
  font-size: 19px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #4b4b4b;
  font-weight: 700;
}
.all-show-info .all-show-info-voc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.all-show-info .all-show-info-voc h2 {
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 65px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info .all-show-info-voc .voc_desc {
  font-size: 18px;
  color: #4b4b4b;
  text-align: center;
}
.all-show-info .all-show-info-voc .voc_desc a {
  text-transform: none;
  text-decoration: none;
  color: #4b4b4b;
  -webkit-transition: all 0.3s ease-in-out;
}
.all-show-info .all-show-info-voc .voc_desc a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  color: black;
}
.all-show-info .all-no-found {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}
.all-show-info .all-no-found .content_not_found {
  border: 1px solid #646060;
  border-radius: 7px;
  background-color: white;
  box-shadow: 1px 2px 20px #646060;
  padding: 25px;
}
.all-show-info .all-no-found .content_not_found h2 {
  font-size: 44px;
  color: red;
}
.all-show-info .all-no-found .content_not_found p {
  font-size: 1.5rem;
  color: #4b4b4b;
}
.all-show-info .all-show-product {
  width: 80%;
}
/*# sourceMappingURL=general.css.map */