@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-eCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZXMf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}
.home_slider {
  display: flex;
  border-bottom: 1px solid #ccccd3;
  height: auto;
  padding-bottom: 50px;
  justify-content: center;
}
.home_slider .content_slider {
  width: 80%;
  display: flex;
  justify-content: center;
}
.home_slider .embla {
  position: relative;
  max-width: 100%;
}
@media (max-width: 929px) {
  .home_slider .embla {
    max-width: 60vw;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .home_slider .embla {
    max-width: 100%;
  }
}
.home_slider .embla__viewport {
  width: 100%;
  overflow: hidden;
}
.home_slider .embla__main__image {
  transition: 0.2s all;
  height: 20vw;
  background-position: center;
  background-repeat: no-repeat;
}
.home_slider .embla__main__image .img_embla {
  height: 100%;
  width: auto;
  position: relative;
}
@media (max-width: 929px) {
  .home_slider .embla__main__image {
    height: 40vw;
  }
}
@media (max-width: 600px) {
  .home_slider .embla__main__image {
    height: 63vw;
  }
}
.home_slider .embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}
.home_slider .embla__viewport.is-dragging {
  cursor: grabbing;
}
.home_slider .embla__container {
  display: flex;
  will-change: transform;
  margin-top: 30px;
}
@media (max-width: 400px) {
  .home_slider .embla__container {
    margin-top: 15px;
    margin-left: -7.5px;
  }
}
.home_slider div.embla__slide {
  flex: 0 0 auto;
  position: relative;
  counter-increment: embla;
  min-width: calc(33.333333% + 15px/3);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .home_slider div.embla__slide {
    min-width: calc(25% + 15px/4);
  }
  .home_slider div.embla__slide > div {
    height: 100vw;
  }
}
@media (max-width: 929px) {
  .home_slider div.embla__slide > div {
    height: 100vw;
  }
}
@media (max-width: 478px) {
  .home_slider div.embla__slide > div {
    height: 100vw;
  }
}
@media (max-width: 400px) {
  .home_slider div.embla__slide {
    min-width: calc(33.333333% + 7.5px/3);
  }
  .home_slider div.embla__slide > div {
    height: 100vw;
    margin: 0 7.5px;
  }
}
.home_slider .embla__slide__inner {
  background-color: #282c34;
  position: relative;
  border-radius: 0.5rem;
  min-height: 200px;
  padding-bottom: 46%;
  font-size: 5rem;
}
.home_slider .embla__slide__inner:before {
  color: white;
  font-weight: 300;
  line-height: 1;
  content: counter(embla);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_slider .embla__btns {
  position: relative;
}
.home_slider .embla__button {
  position: absolute;
  z-index: 1;
  top: 150px;
  transform: translateY(-15px);
  border: 0;
  width: 70px;
  height: 70px;
  background-color: #39cbee;
  border-radius: 100%;
  padding: 0;
  outline: 0;
  transition: 0.2s all ease;
}
.home_slider .embla__button:not(:disabled):hover {
  box-shadow: 0 0 10px 1px #39cbee;
}
.home_slider .embla__button svg {
  width: 11px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.home_slider .embla__button svg path {
  fill: #fff;
}
@media (max-width: 1024px) {
  .home_slider .embla__button {
    top: -37.5px;
  }
}
@media (max-width: 929px) {
  .home_slider .embla__button {
    top: -5vw;
  }
}
@media (max-width: 478px) {
  .home_slider .embla__button {
    top: -7vw;
  }
}
@media (max-width: 400px) {
  .home_slider .embla__button {
    top: -9vw;
  }
}
.home_slider .embla__button:not(:disabled) {
  cursor: pointer;
  fill: #fff;
}
.home_slider .embla__button:disabled {
  opacity: 0.5;
}
.home_slider .embla__button--prev {
  left: -200px;
}
.home_slider .embla__button--next {
  right: -100px;
}
.home_slider img {
  height: 300px;
  width: auto;
}
/*# sourceMappingURL=home-slider.css.map */