@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,700&display=swap&subset=cyrillic');

@font-merri: 'Merriweather', serif;;
@font-robo: 'Roboto', sans-serif;

@bagr_color: #0408e2;
@text_color: #ff0fa0;
@active_color: #fcf55b;
@frey_color: #ccccd3;
@font_color: #4b4b4b;

/* Your Custom code here */

.wrapper {
  width:96%;
  max-width:960px;
  margin: 0 auto;
}

//Header style
.info-header {
  height: 30px;
  background: #191e23;
  display: flex;
  justify-content: center;
  align-items: center;

  .number-phone {
    span {
      color: #FFFFFF;
      font-size: 12px;
      margin-right: 10px;
    }
  }

  .my-mail {
    margin-left: 30px;
    span, a {
      margin-right: 10px;
      color: #FFFFFF;
      font-size: 12px;
    }
  }
}
header.site-header {
  background: @bagr_color;
  height: 80px;
  border-bottom: 1px solid @frey_color;

  .content-header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;

    .logo_sect {
      width: 33.3%;
      height: 80px;
      a {
        color: #FFFFFF;
        font-size: 20px;
        height: 80px;

        img {
          max-height: 80px;
          width: auto;
        }
      }
    }

    .overlayMenu {
      width: 80%;
      padding-left: 15%;

      .navbar-nav {
        display: flex;
        margin-right: 10px;
        align-items: center;

        li {
          margin-right: 25px;
          height: 77px;
          display: flex;
          align-items: center;
          border-bottom: 3px solid @bagr_color;
          a {
            font-family: @font-robo;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
          }
        }
        .current-menu-item {
          margin-right: 25px;
          height: 77px;
          display: flex;
          align-items: center;
          border-bottom: 3px solid @active_color;

          a {
            font-family: @font-robo;
            text-decoration: none;
            color: @active_color;
            font-size: 14px;
          }
        }
      }
    }

    .myself-cab {
      width: 5%;
      font-size: 14px;
      cursor: pointer;

      .myself {
        width: 25px;
        height: 25px;
        display: block;
        color: #FFFFFF;
        border-radius: 100%;
        border: 1px solid #FFFFFF;
        padding-left: 12px;
        padding-top: 12px;
        opacity: 0.6;
        .transition(all 400ms ease-in-out);

        &:hover {
          opacity: 1;
          .transition(all 400ms ease-in-out);
        }
      }
    }
  }
}

//Form style
.form-popup {
  display: none;
  width:100%;
  min-height:100%;
  background: rgba(0,0,0,0.55);
  overflow:hidden;
  position:fixed;
  top:0;
  z-index: 9999999;

  .form {
    width: 800px;
    height: 350px;
    background: #FFFFFF;
    display: block;
    border-radius: 5px;
    border: 1px solid @active_color;
    margin: 6rem 38rem 7rem 38rem;
    position: relative;

    i {
      position: absolute;
      top: -16px;
      right: -16px;
      color: @active_color;
      font-size: 18px;
      cursor: pointer;
    }

    .form-footer {
      display: flex;
      background: #dfe1ff;
      height: 25%;
      border-bottom: #878d93;
      align-items: center;

      .login-button-form {
        height: 30px;
        width: 90px;
        margin-left: 20px;
        font-size: 15px;
        border: 1px solid @bagr_color;
        border-radius: 3px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: 700;
        background: white;
        cursor: pointer;

      }
      .register-button-form {
        height: 30px;
        width: 90px;
        margin-left: 20px;
        font-size: 15px;
        border: 1px solid @bagr_color;
        border-radius: 3px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: 700;
        background: white;
        cursor: pointer;
      }
      .active {
        background: @bagr_color;
        color: @active_color;
      }
    }

    .form-login {
      display: block;
      height: 238px;
      width: 788px;
      background: #FFFFFF;

      .login-shop {
        height: 238px;
        width: 785px;
        margin-left: 0.8rem;
        margin-top: 1.5rem;

        p {
          text-align: left;
          line-height: 1.5;
          font-size: 14px;
          font-family: @font-merri;
          margin-bottom: 1.5rem;

          #username {
            width: 35%;
            margin-left: 10px;
            border-radius: 3px;
            border: 1px solid @bagr_color;
            font-size: 16px;
            color: #4a4a4a;
          }
          #password {
            width: 35%;
            margin-left: 21%;
            border-radius: 3px;
            border: 1px solid @bagr_color;
            font-size: 16px;
            color: #4a4a4a;
          }

          .login-button {
            margin-left: 10%;
            border-radius: 3px;
            width: 8rem;
            border: 1px solid @bagr_color;
            font-weight: bold;
            .transition(all 400ms ease-in-out);

            &:hover {
              background: @bagr_color;
              color: @active_color;
              border: 1px solid @active_color;
              .transition(all 400ms ease-in-out);
            }
          }
        }
      }
    }

    .form-register {
      display: none;
      height: 238px;
      width: 788px;
      background: #FFFFFF;

      .register-shop {
        height: 238px;
        width: 785px;
        margin-left: 0.8rem;
        margin-top: 1.5rem;
        padding-right: 2rem;

        p {
          text-align: left;
          line-height: 1.5;
          font-size: 14px;
          font-family: @font-merri;
          margin-bottom: 1rem;

          #reg_email {
            width: 35%;
            margin-left: 1rem;
            border-radius: 3px;
            border: 1px solid @bagr_color;
            font-size: 16px;
            color: #4a4a4a;
          }

          .register-button {
            border-radius: 3px;
            width: 9rem;
            height: 2.5rem;
            border: 1px solid @bagr_color;
            font-weight: bold;
            .transition(all 400ms ease-in-out);

            &:hover {
              background: @bagr_color;
              color: @active_color;
              border: 1px solid @active_color;
              .transition(all 400ms ease-in-out);
            }
          }
        }
      }
    }
  }
}

//Sliders style
.home_slider {
  display: flex;
  height: 10rem;
  border-bottom: 1px solid @frey_color;
}

//Info-section style
.sect-info {
  height: 5rem;
  border-bottom: 1px solid @frey_color;

  .sections-otd{
    display: flex;
    height: 100%;

    .search-sect {
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-form {
        .search-submit {
          font-size: 12px;
          font-family: @font-merri;
          color: @font_color;
          font-style: italic;
        }
        label {
          .screen-reader-text {
            display: none;
          }
          .search-field {
            border: 1px solid @frey_color;
            font-size: 14px;
            color: @font_color;
            padding: 7px 0 7px 10px;
            border-radius: 3px;
          }
        }
      }
    }

    .stations {
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      .sect-art {
        font-size: 16px;
        font-family: @font-merri;
        color: @font_color;
        padding: 5px 15px;
        border: 1px solid @bagr_color;
        border-radius: 3px;
        cursor: pointer;
        .transition(all 400ms ease-in-out);
        &:hover {
          background: @bagr_color;
          color: @active_color;
          .transition(all 400ms ease-in-out);
        }
      }
    }

    .basket {
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      .cart-contents {
        height: 43px;
        width: 43px;
        position: relative;
        border: 1px solid @bagr_color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background: @frey_color;

        .count  {
          display: block;
          background: #FFFFFF;
          height: 12px;
          width: 12px;
          position: absolute;
          border-radius: 50%;
          border: 1px solid @bagr_color;
          top: -12px;
          right: -12px;
          padding: 2px;
          text-align: center;

        }
        i {
          font-size: 30px;
          color:@bagr_color;
        }
      }
    }
  }
}

//Footer style
footer.site-footer {
  background: @bagr_color;
  height: 300px;
  border-top: 1px solid @frey_color;

  .footer {
    display: flex;

    .logo_sect_footer {
      width: 25%;
      height: 300px;

      .logo-footer {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          color: #FFFFFF;
          img {
            max-height: 50px;
            width: auto;
          }
        }
      }
      .social-link {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          color: #b3b9bf;
          font-size: 35px;
          margin-left: 40px;
          .transition(all 400ms ease-in-out);
          &:first-child {
            margin-left: 0;
          }

          &:hover {
            color: @active_color;
            .transition(all 400ms ease-in-out);
          }
        }
      }
    }

    .bottom-nav {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      nav {
        .navbar-nav {
          li {
            line-height: 35px;
            a {
              color: #b3b9bf;
              font-size: 18px;
              .transition(all 400ms ease-in-out);
              &:hover {
                color: @active_color;
                .transition(all 400ms ease-in-out);
              }
            }
          }
          .current-menu-item {
            a {
              color: @active_color;
              font-size: 18px;
              opacity: 1;
              border-bottom: 1px solid @active_color;
            }

          }
        }
      }
    }

    .stations {
      width: 25%;
      display: flex;
      padding-top: 45px;
      justify-content: center;

      a {
        color: #b3b9bf;
        font-size: 18px;
        .transition(all 400ms ease-in-out);
        &:hover {
          color: @active_color;
          .transition(all 400ms ease-in-out);
        }
      }
    }

    .footer-info {
      width: 25%;
      height: 300px;

      .info-my {
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .number-phone {
          margin-bottom: 15px;
          span {
            color: #FFFFFF;
            margin-right: 10px;
          }

        }

        .my-mail {
          span {
            color: #FFFFFF;
            margin-right: 10px;
          }
          a {
            color: #FFFFFF;
          }
        }
      }
      .info-date {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

//Cart style
/*
.site-header-cart {
  position: relative
}

.site-header-cart .widget_shopping_cart {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999999;
  font-size: .875em;
  left: -999em;
  display: block;
  background: #000;
  box-shadow: 0 1px 5px 0 #191919;
  color: #d5d9db;
  min-width: 300px;
}

.site-header-cart .widget_shopping_cart.sub-menu--is-touch-device {
  display: none;
  left: 0
}

.site-header-cart .widget_shopping_cart h2.widgettitle {
  display: none
}

.site-header-cart .widget_shopping_cart .product_list_widget li a.remove {
  position: relative;
  float: left;
  top: auto
}
.site-header-cart .product_list_widget {
  padding: 0;
  width: 100%;
  display: inline-block;
  max-width: 300px;
}
.site-header-cart .product_list_widget li img {
  max-width: 60px;
  float: right;
  width: 100%;
  height: auto;
}
.site-header-cart ul.product_list_widget li {
  list-style: none;
  margin-left: 0;
  background: #b3b7fb;
  padding: 15px;
  width: 100%;
  min-width: 280px;
}
.site-header-cart .widget_shopping_cart .product_list_widget li a.remove:before {
  text-align: left
}

.site-header-cart.focus .widget_shopping_cart,
.site-header-cart:hover .widget_shopping_cart {
  left: -25em;
  display: block
}*/
