@color_grey: #d4dad9;
@color_darkgrey: #959b9a;
@dark_color:#262626;
@yellow_color: #eedf9c;
@hover_color:#804258;
@header_color:#7f4258;

/* Your Custom code here */

.wrapper {
  width:96%;
  max-width:960px;
  margin: 0 auto;
}

header.site-header {
  .site-branding {
    .site-title {
      a {
        text-decoration: none;
        color: red;
        font-size: 50px;
      }
    }
  }
}