@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,700&display=swap&subset=cyrillic');

@font-merri: 'Merriweather', serif;;
@font-robo: 'Roboto', sans-serif;

@dark_color:#262626;

/* Your Custom code here */

.wrapper {
  width:96%;
  max-width:960px;
  margin: 0 auto;
}

header.site-header {
  .site-branding {
    .site-title {
      a {
        text-decoration: none;
        color: red;
        font-size: 50px;
      }
    }
  }
}